<h2>Favorite Cities:</h2>
<div>
    <label>Name: </label>
    <input [(ngModel)]="cityName" placeholder="City name" /><br/>
    <button (click)="addCity()">Add city</button>
</div>
<hr>
<ul class="cities">
    <li *ngFor="let city of cities" [class.selected]="city === selectedCity" (click)="onSelect(city)">
        <span class="badge">{{city.id}}</span> {{city.name}}
    </li>
</ul>
<div *ngIf="selectedCity">
    <h3>
        {{selectedCity.name | uppercase}}
    </h3>
    <button (click)="editCity()">Edit City</button> | <button (click)="deleteCity()">Delete City</button>
</div>
<br>
<button (click)="goBack()">Back</button>